*{
    margin: 0;
    padding: 0;
}

/* ---------------GENERAL STYLE---------------*/

body{
    background-color: #F5F7FB;
    color: #293264;
    font-family: Inter;
}

.bg-image{
    position: fixed;
    z-index: -1;
}
.spot-yellow{
    top: 0;
    right: 0;
}

.spot-blue{
    bottom: 0;
    left: 0;
}


/* ---------------MAIN PAGE STYLE---------------*/

h1{
    font-family: 'Karla';
    color: #293264;
    font-weight: bold;
}

.btn{
    padding: 10px 30px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-family: Inter;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    background-color: #293264;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    
}

.main-heading{
    margin-bottom: 10px;
    font-size: xx-large;
}

.main-description{
    font-size: larger;
}

.btn-main{
    margin: 30px;
    padding: 15px 30px;
    font-size: larger;
}

/* ---------------QUESTIONS---------------*/

.quiz{
    margin: 40px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .quiz{
        margin: 40px 20px;
    }
}

.question{
    width: 100%;
}

.question-text{
    font-size: x-large;
    margin: 20px auto;
}

.answers{
    display: flex;
    flex-wrap: wrap;
}

.answer-btn{
    padding: 3px 25px;
    background-color: transparent;
    color: #293264;
    font-family: Inter;
    border: #4D5B9E solid 2px;
    border-radius: 10px;
    font-size: larger;
    margin: 10px;
}

.answer-btn:hover{
    background-color: #D6DBF5;
}

.selected{
    background-color: #D6DBF5;
    color: #293264;
    border: #D6DBF5 solid 2px;
}

.selected.correct{
    background-color: #94D7A2;
    color: #293264;
    border: #94D7A2 solid 2px;
}

.selected.incorrect{
    background-color: #F8BCBC;
    color: rgba(29, 32, 64, 0.5);
    border: #F8BCBC solid 2px;
}

.not-selected{
    color: rgba(29, 32, 64, 0.5);
    border: rgba(29, 32, 64, 0.5) solid;
}

hr{
    border: 1px solid #DBDEF0;
    margin: 20px auto;
    width: 100%;
}

.result-btn{
    margin: 30px;
    padding: 15px 30px;
    font-size: larger;
}